/* app/globals.css */
:root { --bg: #0b0c10; --fg: #e5e7eb; --muted: #94a3b8; }
* { box-sizing: border-box; }
html, body { padding:0; margin:0; height:100%; background:var(--bg); color:var(--fg); }
::-webkit-scrollbar { width: 0; height: 0; } /* สะอาดตา */
a { color: inherit; text-decoration: none; }


body.loading-bg {
    background: linear-gradient(135deg, #1e293b 0%, #0f172a 100%);
  }
  .loader-container { height: 120px; display: flex; align-items: center; }
  svg { width: 240px; height: 60px; overflow: visible; }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* สำหรับ Chrome, Safari */
  }
  
  .no-scrollbar {
    -ms-overflow-style: none; /* สำหรับ IE และ Edge เก่า */
    scrollbar-width: none; /* สำหรับ Firefox */
  }
  